* {
    font-family: 'Noto Serif', 'Calisto MT', serif;
    
}


#backgroundImage {    
    background: url('../images/backgroundImage2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    height: 1200px; 
    width: 100%;
}

.navbar-text {
    background-color: teal;
    font-weight: bold;
    font-size: 150% !important;
}

.navbar {
    background: lightgray;
    
}
 

.footer {
    background-color:gray;
    border-top: 5px solid;
    border-color: teal;
    color: teal;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    font-size: 80% !important;
}
