* {
    font-family: 'Noto Serif', 'Calisto MT', serif;
    
}

.container-fluid {
    background: coral;
}
span {
    background-color: teal;
}
.navbar {
    background: lightgray;
}

.footer {
    background-color:gray;
    border-top: 5px solid;
    border-color: teal;
    color: teal;
    position: fixed;
    bottom: 0;
    width: 100%;
}
